.dropbtn {
    color: black;
    font-weight: bold;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    float: right;
    margin-right: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #ffffff;
    /*right: 40px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding-left: 16px;
    padding-top: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
}
.triangle{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent #ff8917;
    border-style: solid;
    transform: translate(55px,-10px);
}
.dropdown_a{
    border-top: 5px solid #ff8917;
    margin-top: 5px;
}
span{
    display: inline-block;
    margin-left: 10px;
}
.dropdown_a p{
    padding: 16px;
    background-color: #FFFCEE;
    margin-bottom: 0;
}
