.footer{
    border-top: 2px solid #FF8917;
}
.up{
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}
.up1{
    display: flex;
}
.up1 .txt{
    width: 20%;
    font-weight: 500;
}
.up1 .hr{
    width: 80%;
    margin-top: 10px;
}
.up1 .hr hr{
    height: 2px;
}
.up2 p{
    margin: 0;
    font-size: 80%;
}
.up3 p{
    margin: 0;
    font-size: 90%;
}
.no{
    padding: 0px 0px !important;
    margin:  0 !important;
}
