.search_bar {
    margin: 0 auto;
    background-color: #77ADD4;
    width: 90%;
    padding-top: 10px;
}

.ml {
    margin-left: 30px;
}

button {
    width: 120%;
}

.btn_search {
    display: flex;
    align-items: center;
    transform: translateY(8px);
}

.symbol {
    margin: 0 auto;
    background-color: #77ADD4;
    width: 90%;
}

.right {
    background-color: #ffffff;
}

.symbol_child {
    height: 50px;
}
.mr{
    margin-right: 20px;
}
